{{ child('debug.container.style') }}
<div id="leafiny-debug">
    <table>
        <tr>
            <th></th>
            <th>Init (ms)</th>
            <th>Type</th>
            <th>Class</th>
            <th>Identifier</th>
            <th>Parent</th>
            <th>key</th>
            <th>Custom</th>
        </tr>
        {% for object in block.getObjects %}
            {{ block.objectAsHtml(object)|raw }}
        {% endfor %}
    </table>
    <table>
        <tr>
            <th></th>
            <th>Query</th>
            <th>Params</th>
        </tr>
        {% for object in block.getQueries %}
            {{ block.queryAsHtml(object)|raw }}
        {% endfor %}
    </table>
</div>